.answer-code {
  display: none;
  color: #333333;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 13.86px;
  line-height: 155%;
}

a.showhidelink {
  text-decoration: none;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 13.86px;
  color: DarkBlue;
}
h1 {
  font-size:180%;
  font-weight: bold;
  color:red;
}


