/* Styles for FAQs */

p.qtntext {
  color: #333333;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 13.86px;
  line-height: 155%;
}
p.subhead {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 13.86px;
  color: black;
  font-weight: bold;
}
.answer-code {
  display: none;
  color: #333333;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 13.86px;
  line-height: 155%;
  margin-left: 1em;
}

a.showhidelink {
  text-decoration: none;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 13.86px;
  color: DarkBlue;
  font-weight: 700;
}

a.nobold {
  font-weight:normal;
}
